<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
	<title>个人中心</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-table.min.css">
</head>
<body style="background:#efefef">
	<div th:insert="navigator :: nav"></div>
	<!-- 问题清单内容加载 -->
	<div class="container-fluid">
		<div class="row" style="background:white;margin:0 10px;">
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12"  id="questionContentId">
				<h3><span class="glyphicon glyphicon-list"></span>  发布的问题</h3>
				<hr/>
				<table id="tb"></table>
			</div>
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<h3>我的关注<br></h3>
				<hr>
				<a>有关于redis的问题请教？</a>
				<br>
				<br>
				<a>springboot mybatis如何绑定？</a>
				<br>
				<br>
				<a>有关学习效率的问题？</a>
				<br>
				<br>
				<a>如何快速学习好springboot?</a>
				<br>
				<br>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap-table.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap-table-zh-CN.js"></script>
	<script type="text/javascript" src="js/comm.js"></script>
	<script type="text/javascript" src="js/profile.js"></script>
</body>
</html>