<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
	<title>问题发布</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	
</head>
<body  style="background:#efefef">
	<div th:insert="navigator :: nav"></div>
	
	<!-- content -->
	<div class="container-fluid">
		<div class="row" style="background:white;margin:0 10px;">
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
				<h2><span class="glyphicon glyphicon-plus"></span>
				发起</h2>
				<hr/>
				<form id="publishForm">
					<div class="form-group">
					   <label for="title">问题标题:(简单扼要)</label>
					   <input type="text" class="form-control" id="title" name="qTitle" placeholder="问题标题">
					</div>
					<div class="form-group">
					   <label for="description">问题补充(必填)</label>
					   <textarea class="form-control" id="description" name="description" placeholder="问题补充" rows="10" ></textarea>
					</div>
					<div class="form-group">
					   <label for="tag">添加标签</label>
					   <input type="text" class="form-control" id="tag" name="tag" placeholder="请输入问题标签，以逗号隔开">
					</div>
					
				</form>
				<button type="button" class="btn btn-success" style="margin-bottom:10px;" onclick="publish();">发布</button>
<!-- 				<input type="button" value="发布" class="btn btn-info" onclick="publish();"> -->
			    <a href="/" class="btn btn-success" style="margin-bottom:10px;">返回主页</a>
			</div>
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<h2>问题发起指南：<br></h2>
				1、问题标题：请用简洁的语言描述您的问题；<br>
				2、问题补充：详细补充您的问题，并确保问题描述清晰、直观，并提供一些资料；<br>
				<br>
				<br>
				服务器运行环境：<br>
				软件版本：<br>
				问题发生的上下文信息：<br>
				可以完整复现问题的代码<br>
				补充完整的异常描述信息<br>
			</div>
		</div>
	</div>
	
	
	<script type="text/javascript" src="bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/comm.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/publish.js"></script>
</body>
</html>