<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
	<title th:text="${dto.qTitle}">发现详情</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-table.min.css">
	<link rel="stylesheet" href="css/questionDetail.css">
</head>
<body style="background:#efefef">
	<div th:insert="navigator :: nav"></div>
	<!-- 问题清单内容加载 -->
	<div class="container-fluid">
		<div class="row" style="background:white;margin:0 10px;">
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12"  id="questionContentId">
				<h3 th:text="${dto.qTitle}"><span class="glyphicon glyphicon-list"></span></h3>
				<hr/>
				
				<span>发布人：</span>
				<span th:text="${dto.uName}"></span> | 
				<span>发布时间：</span>
				<span th:text="${#dates.format(dto.gmtCreate,'yyyy-MM-dd')}"></span> | 
				<span>阅读数：</span>
				<span th:text="${dto.viewCount}"></span> 
				&nbsp;&nbsp;&nbsp;
				<span class="rightBtn cur" id="follow">+关注</span>
				<span class="rightBtn cur" id="ok">+点赞</span>
				
				<hr>
				<div th:text="${dto.description}"></div>
				<hr>
				
				<span>回复数：</span>
				<span th:text="${answers.size()}"></span>
				<hr>
				
				<div th:each="answer:${answers}">
					<span th:text="${answer.uName}"></span>
					发表于：
					<span th:text="${#dates.format(answer.answerTime,'yyyy-MM-dd hh:mm:ss')}"></span>
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<span th:text="${answer.answerContent}"></span>
					<br>
				</div>
				<hr>
				
				<textarea id="answerText" class="form-control" rows="5" placeholder="请发表你的看法。。。"></textarea>
				<br>
				<button class="btn btn-info" onclick="answerBtn();">提交</button>
				<hr>
			</div>
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<h2>作者简介<br></h2>
				<hr>
				<br>
				<h2>Ta的发布<br></h2>
				<hr>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap-table.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap-table-zh-CN.js"></script>
	<script type="text/javascript" src="js/comm.js"></script>
	<script type="text/javascript"  src="js/questionDetail.js"></script>
	<script type="text/javascript" th:inline="javascript">
		var questionId = [[${dto.questionId}]];
	</script>
</body>
</html>