<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cdk.mapper.QuestionFollowMapper">
	<insert id="addQuestionFollow">
		insert into question_follow
		(question_id,follow_user_id)
		values(#{questionId},#{followUserId})
	</insert>
	<delete id="removeQuestionFollow">
		delete from question_follow
		where question_id = #{questionId} 
		and follow_user_id = #{followUserId}
	</delete>
	<select id="getFollowByUserId" parameterType="int" resultType="com.cdk.entity.FollowDTO">
		select * from question_follow qf
		left join question q
		on q.question_id = qf.question_id
		left join `user` u
		on q.creator_id = u.user_id
		where u.user_id = #{userId}
		order by gmt_create desc
		limit 0,10
	</select>
</mapper>